<section class="container mt-4">

  <div class="row">

    <article class="col-md-4 mb-4"  *ngFor="let post of postagens">

      <div class="border rounded-2 p-3 h-100 d-flex flex-column justify-content-between">

        <a [routerLink]="'/postagem/' + post.id" class="text-decoration-none text-dark">

          <div class="d-flex flex-column justify-content-center">
            
            <ng-container [ngSwitch]="post.tipo_arquivo">

              <img
                *ngSwitchCase="'imagem'"
                [src]="'http://localhost:3000/' + post.caminho_arquivo"
                alt="Imagem da postagem"
                class="img-fluid rounded"
              />

              <video
                *ngSwitchCase="'video'"
                [src]="'http://localhost:3000/' + post.caminho_arquivo"
                controls
                class="w-100 h-100 rounded"
              ></video>

              <p *ngSwitchDefault class="text-muted">Tipo de mídia não suportado</p>
              
            </ng-container>

          </div>
          
        </a>

        <div class="mt-4 d-flex justify-content-center gap-3">

          <button class="btn btn-outline-primary btn-sm" [routerLink]="['/editar-postagem', post.id]">
            <i class="fas fa-edit"></i> Editar
          </button>

          <button class="btn btn-outline-danger btn-sm" (click)="excluirPostagem(post.id)">
            <i class="fas fa-trash-alt"></i> Excluir
          </button>

        </div>

      </div>

    </article>

  </div>

</section>