<div class="container-fluid bg-dark height mb-5">

    <div class="container-fluid w-50 d-flex justify-content-center align-items-center">
        
        <nav class="col-12">

        <ul class="d-flex justify-content-around align-items-center nav nav-tabs">

            <li class="text-white nav-item h5"> <a class="nav-link link-light" [routerLink]="'/'">Feed</a> </li>
            <li class="text-white nav-item h5"> <a class="nav-link link-light" [routerLink]="'/perfil'">Perfil</a> </li>

          </ul>

      </nav>

    </div>
    
</div>